:root {
    /* Нагадайте учням про змінні */
    --color-primary: #304ffe;
    --color-primary-darker: #0026ca;
    --color-accent: #FF7939;
    --color-accent-darker: #f07136;
    --color-white: #ffffff;
    --header-height: 4.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

main {
    position: relative;
    height: 100vh;
}

.header {
    position: fixed;
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    height: var(--header-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#form {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

#input {
    width: 100%;
    height: var(--header-height);
    padding: 1rem;
    font-size: 1.5rem;
}

.submit {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    border: 0;
}

ul {
    list-style: none;
    padding: calc(var(--header-height) + 0.5rem) 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    background-color: var(--color-primary-darker);
    border-radius: 1rem;
    color: var(--color-white);
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.register-form {
    padding-top: 5rem;
    /* Поясніть дітям функцію calc */
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 1.5rem;
    gap: 0.5rem;
    background-color: var(--color-primary);
    border-radius: 1rem;
}

.register-form__title {
    color: var(--color-white)
}

.register-form__input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    outline: none;
    border-radius: 0.5rem;
    border: 0;

}

.register-form__label {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.25rem;
    padding-top: 1rem;
}

.register-form__button {
    background-color: var(--color-accent);
    color: var(--color-white);
    border: 0;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
}

.register-form__button:hover {
    box-shadow: 0 0 5px 0 grey;
    background-color: var(--color-accent-darker);
} 

.link {
    color: var(--color-accent);
    text-decoration: none;
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
}